/*
=====================
TPL Css  8
=====================
*/
table.wrapper.date-time-wrapper.red-box .wrapper-inner{
    border: solid 1px #dd2436;
}
@media (min-width:599px){
    .index-9-center-area th.large-6.first {
        padding-left: 0px !important;
    } 
    .index-9-center-area th.large-6.last {
        padding-right: 0px  !important; 
    } 
    
}